[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	email = bastiangx@pm.me
	name = bastiangx

[core]
  editor = nvim
  pager = delta
  compression = 9
  whitespace = error
  preloadindex = true

[advice]
  addEmptyPathspec = false
  pushNonFastForwards = false
  statusHint = false

[interactive]
  diffFilter = delta --color-only

[push]
  autoSetupRemote = true
  default = current

[pull]
  default = current

[status]
  branch = true
  showStash = true
  showUntrackedFiles = all

[include]
  path = /Users/bast/dotfiles/delta/catppuccin.gitconfig

[delta]
  features = catppuccin-mocha
  syntax-theme = "Catppuccin Mocha"
  navigate = true
  line-numbers = true
  dark = true

[maintenance]
	repo = /Users/bast/code/ws-web
	repo = /Users/bast/code/wordserve
	repo = /Users/bast/code/ws-obsidian
